<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <update id="Snmportal_Base::topmenu" title="SNM-PORTAL" sortOrder="60" resource="Snmportal_Base::base"/>
        <update id="Snmportal_Base::settings" title="Settings" sortOrder="100" parent="Snmportal_Base::topmenu" resource="Snmportal_Base::settings"/>
        <!--
                <update id="Snmportal_Base::topmenu" title="SNM-PORTAL" sortOrder="60" module="Snmportal_Pdfprint"
                        resource="Snmportal_Base::base"/>

                <add id="Snmportal_Pdfprint::base" title="pdfPRINT" module="Snmportal_Pdfprint" sortOrder="1"
                     parent="Snmportal_Base::topmenu"
                     resource="Snmportal_Pdfprint::base"
                />
                        -->
        <add id="Snmportal_Pdfprint::template" title="PDFPrint Templates" module="Snmportal_Pdfprint" sortOrder="11" parent="Snmportal_Base::topmenu"
             action="snmpdfprint/template"
             resource="Snmportal_Pdfprint::template"/>

        <add id="Snmportal_Pdfprint::settings" title="PDFPrint" module="Snmportal_Pdfprint" sortOrder="12"
             parent="Snmportal_Base::settings"
             action="adminhtml/system_config/edit/section/snmportal_pdfprint"
             resource="Snmportal_Pdfprint::settings"/>

    </menu>

</config>
