<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">

    <event name="sales_order_save_after">
        <observer
                name="snm_pdfprint_sales_order_save_after"
                instance="Snmportal\Pdfprint\Model\Observer\Save\Order"
        />
    </event>
    <event name="sales_order_invoice_save_after">
        <observer
                name="snm_pdfprint_sales_order_invoice_register"
                instance="Snmportal\Pdfprint\Model\Observer\Save\Invoice"
        />
    </event>
    <event name="sales_order_shipment_save_after">
        <observer
                name="snm_pdfprint_sales_order_shipment_register"
                instance="Snmportal\Pdfprint\Model\Observer\Save\Shipment"
        />
    </event>
    <event name="sales_order_creditmemo_save_after">
        <observer
                name="snm_pdfprint_sales_order_creditmemo_register"
                instance="Snmportal\Pdfprint\Model\Observer\Save\Creditmemo"
        />
    </event>
</config>
